.top-nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.logo {
  font-size: 50px;
  color: #999;
}

.options {
  display: flex;
  gap: 20px;
}

.font-select {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.theme-toggle {
  display: flex;
  align-items: center;
}

.switch-outer {
  width: 48px;
  height: 24px;
  background-color: gray;
  border-radius: 30px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.switch-outer.dark {
  background-color: #a444ed;
}

.switch-inner {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: 0.2s;
}

.switch-inner.dark {
  left: 28px;
}

.moon-icon {
  font-size: 28px;
  color: #999;
  transition: 0.4s;
}

.moon-icon.active {
  color: #a444ed;
}
